
<h2>Login Page</h2>

<form method=post action=/login>
    <input type=text placeholder="Email" name="user[email]">
    <br><br>
    <input type=password placeholder="Password" name="user[password]">
    </br><br>
    <input type=submit value="Login" class="btn btn-raised btn-secondary text-center">
</form>
