
<h2>Sign up for an account!</h2>
<form method="post" action="/signup">
    <input type=text placeholder="Full Name" name="user[full_name]">
    <br><br>
    <input type=text placeholder="Email" name="user[email]">
    <br><br>
    <input type=password placeholder="Password" name="user[password]">
    <br></br>
    <input type=submit value="Sign up" class="btn btn-raised btn-secondary text-center">
</form>
