
<h2>Ask a new question</h2>
<form method="post" action="/ask_question">
    <input type="hidden" name="question[user_id]" value="<%= session[:user_id] %>">
    <input type=text placeholder="Question" name="question[question]" style="width: 100%; height: 50px;">
    <br><br>
    <input type=submit value="Ask" class="btn btn-raised btn-secondary text-center">
</form>

