<h2>All Questions</h2>
<!-- search bar -->

<h4> Search bar </h4>

<form method="post" action="/search_question">
    <input type=text placeholder="Search" name="search" class="w-25">
    </br></br>
    <input type=submit value="Search" class="btn btn-raised btn-secondary text-center">
</form>




<hr>

<%= erb :"question/question_index", :layout => false %>